@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Prompt', sans-serif;
}


/* auth */

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-contacts-auto-fill-button {
    display: none;
}


/* swal */

.swal2-popup {
    padding: 1.6rem !important;
    border-radius: 10px !important;
}

.swal2-title {
    padding: 0 !important;
    margin-bottom: 0.5rem !important;
}

.swal2-html-container {
    margin: 0 0 1.6rem 0 !important;
    text-align: left !important;
    padding: 0 !important;
    font-size: medium !important;
}

.swal2-actions {
    margin: 0 !important;
    justify-content: flex-end !important;
}



/* ซ่อน scrollbar สำหรับ Chrome, Safari และ Opera */

*::-webkit-scrollbar {
    display: none;
}

/* ซ่อน scrollbar สำหรับ IE, Edge และ Firefox */
* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


/* responsive */

@media (max-width: 640px) {
    .font-prompt {
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    .font-prompt {
      font-size: 12px;
    }
  }